<a href="https://colab.research.google.com/github/sanduriss/DataScience/blob/main/Homework1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Q1-Get your name and age as input and print it in the form like
#Your name is Hulisi. Your age is 43
name=input('What is your name? ')
age=input('What is your age? ')
print('Your name is '+name+'. Your age is '+age)

What is your name? Sandur
What is your age? 22
Your name is Sandur. Your age is 22

In [2]:
#Q2-Write a if statement for a given two number is equal or not
a=43
b=54
if (a==b):
  print('These are equal')
else:
  print('These are not equal')

These are not equal

In [3]:
#Q3-Write a if statement for first number is greater (a), equal or less than second number.(b)
a=43
b=54
if (a>b):
  print('First number is greater')
elif (a==b):
  print('These are equal')
else:
  print('First number is less than second number')

First number is less than second number

In [5]:
#Q4- Using for loop, print 1,2,3,4,5
for k in range(1,6):
  print(k)

1
2
3
4
5

In [8]:
#Q5-Using while loop, print 5,4,3,2,1
a=5
while (a>0):
  print(a)
  a=a-1

5
4
3
2
1

In [32]:
#Q6- Using for loop, print 10,6,4,2,0
#Hint Print if number is not equal to 8.
for a in range(0,11):
  if (a%2==0) and (a!=8):
    print(a)

0
2
4
6
10

In [6]:
#Q7-Write a method to calculate age for a given date of birth year.
#Use this method on orer to calculate age of person if date of birth is 1944
# if age is the name of function, print(age(1944))
def addition(a,b):
  return a-b
addition(2022,1944)

78

In [ ]:
#Q8-Write a class named arithmetic with method for calculating addition, substraction, multiplication and division of two numbers.

In [ ]:
#Q9- write a for loop or method  to calculate summation of first n numbers
#i.e if n=3, it will print or return 6 (1+2+3)

In [ ]:
#Q10-Generate 10 numbers between 0 and 1 and add into list. Print first three elements of that list.

In [ ]:
#Q11-For a given number n, print numbers divisible by 3 up to that number(n included)
#Example: if n=15, print 3,6,9,12,15
#Hint you can use modulus statement (if (i%3==0))
n=15

3
6
9
12
15