<a href="https://colab.research.google.com/github/sanduriss/DataScience/blob/main/Homework1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Q1-Get your name and age as input and print it in the form like
#Your name is Hulisi. Your age is 43
name=input('What is your name? ')
age=input('What is your age? ')
print('Your name is '+name+'. Your age is '+age)

What is your name? Sandur
What is your age? 22
Your name is Sandur. Your age is 22

In [ ]:
#Q2-Write a if statement for a given two number is equal or not
a=43
b=54
if (a==b):
  print('These are equal')
else:
  print('These are not equal')

These are not equal

In [ ]:
#Q3-Write a if statement for first number is greater (a), equal or less than second number.(b)
a=43
b=54
if (a>b):
  print('First number is greater')
elif (a==b):
  print('These are equal')
else:
  print('First number is less than second number')

First number is less than second number

In [ ]:
#Q4- Using for loop, print 1,2,3,4,5
for k in range(1,6):
  print(k)

1
2
3
4
5

In [ ]:
#Q5-Using while loop, print 5,4,3,2,1
a=5
while (a>0):
  print(a)
  a=a-1

5
4
3
2
1

In [ ]:
#Q6- Using for loop, print 10,6,4,2,0
#Hint Print if number is not equal to 8.
for a in range(10,-1,-2):
  if  (a!=8):
    print(a)

10
6
4
2
0

In [ ]:
#Q7-Write a method to calculate age for a given date of birth year.
#Use this method on orer to calculate age of person if date of birth is 1944
# if age is the name of function, print(age(1944))
def addition(a,b):
  return a-b
addition(2022,1944)

78

In [ ]:
#Q8-Write a class named arithmetic with method for calculating addition, substraction, multiplication and division of two numbers.
class arit:
  def addition(x,y):
    return x+y
  def substraction(x,y):
    return x-y
  def multiplication(x,y):
    return x*y
  def division(x,y):
    return x/y

print(arit.addition(2,3))
print(arit.substraction(12,6))
print(arit.multiplication(4,5))
print(arit.division(4,2))

5
6
20
2.0

In [ ]:
#Q9- write a for loop or method  to calculate summation of first n numbers
#i.e if n=3, it will print or return 6 (1+2+3)
a = int(input('Enter the number: '))
b = 0 
for n in range(1, a + 1,1):
   b = b + n
print(b)

Enter the number: 10
55

In [ ]:
#Q10-Generate 10 numbers between 0 and 1 and add into list. Print first three elements of that list. 
import random
randomlist = []
for i in range(10):
  n = random.uniform(0,1)
  randomlist.append(n)
print(randomlist[0:3])

[0.842024255903808, 0.6087305763285266, 0.470445957736907]

In [ ]:
#Q11-For a given number n, print numbers divisible by 3 up to that number(n included)
#Example: if n=15, print 3,6,9,12,15
#Hint you can use modulus statement (if (i%3==0))
n=15
for i in range(1,n+1,1):
  if (i%3==0):
    print(i)

3
6
9
12
15